In [96]:
import pandas as pd
import numpy as np
from sklearn import linear_model

<h3>Task 1: Normalize the data</h3>

<h3>Task 2: Change the parameters of the Linear Regression function</h3>

<h3>Task 3: Convert String Column to truth table</h3>

In [208]:
data={'Name':['a','b','c','d','e'],'Age':[20,21,22,20,19],'City':['A','B','A','A','B']}
df=pd.DataFrame(data)
df

  Name  Age City
0    a   20    A
1    b   21    B
2    c   22    A
3    d   20    A
4    e   19    B

In [204]:
def make_truthtable1(df,col):
    a=pd.crosstab(df[df.columns[0]],df[col])
    a.reset_index(inplace=True)
    for i in a.columns:
        df[i]=a[i]

In [205]:
make_truthtable1(df,'City')
df

  Name  Age City  A  B
0    a   20    A  1  0
1    b   21    B  0  1
2    c   22    A  1  0
3    d   20    A  1  0
4    e   19    B  0  1

In [213]:
def make_truthtable2(df,col):
    truthtable={}
    for key in df[col].unique():
        truthtable[key]=[0 for i in range(len(col))]
        
        
    for i,r in enumerate(df[col]):
        for key in truthtable.keys():
            if r==key:
                truthtable[key][i]=1
                break
    pd.concat()    
    return pd.concat([df,pd.DataFrame(truthtable)],axis=1)

In [212]:
w=make_truthtable(df,'City')
w

IndexError: list assignment index out of range

<h3>Task 4: Convert Dataframe to NumPy array</h3>

In [46]:
df.to_numpy()

array([['a', 16, 'A', 0, 0],
       ['b', 21, 'B', 0, 0],
       ['c', 16, 'A', 0, 0],
       ['d', 20, 'A', 0, 0]], dtype=object)